<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="POST">
        <input id="company" name="company" type="text" placeholder="Company name">
        <input id="date" name="date" type="date" placeholder="departure date">
        <input id="routing" name="routing" type="text" placeholder="routing">
        <input id="price" name="price" type="number" placeholder="price">
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
